.root {
  &__layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #f0f2f5;
    overflow: auto;
  }

  &__header {
    background: #5e82ff;
    //position: fixed;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

  }
  &__content {
    flex: 1;

    padding: 50px;
  }
}

.content {
}