$borderGray: #f2f2f2;
$lightGray: #f4f4f4;
$darkGray: #bebebe;
$gray: #818c99;
$black: #000000;

$blue: #5e82ff;
$blue-hover: #425cc7;
$blue-active: darken($blue, 25);
$blue-disabled: #9eb4ff;
$pink: #ff547d;
$lightPink: #f5c4c6;
$peach: #ff6c35;

$whiteDisabled: #f8f8f8;
$white: #ffffff;
$darkWhite: darken($white, 12);

$modalFade: rgba(93, 8, 65, 0.8);
