.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f0f2f5;
  overflow: auto;

  &__header {
    background: #5e82ff;
    z-index: 1;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &_fixed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }

  }

  &__content {
    flex: 1;

    padding: 50px;

    &_scroll {
      overflow: auto;
    }
  }

  &__logo {
    color: white;
    display: inline-grid;

    &-content {
      margin-bottom: 0 !important;
      color: inherit !important;
    }
  }
}