.ticketListWrapper {
  display: flex;
  margin-top: 32px;
  padding-bottom: 32px;
}

.ticketList {
  width: 100%;
  max-width: 729px;
  margin:0 auto;
}

.space {
  width: 100%;
}

.spinnerWrapper {
  display: flex;
  margin-top: 32px;
}

.spinner {
  margin: auto;
}