.auth-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f0f2f5;
  overflow: auto;

  justify-content: center;
  align-items: center;

  &__card {
    width: 35%;
  }
}