$local-spacing-m: 20px;
$local-spacing-s: 16px;

.ticketCard {
  display: flex;
  background: white;
  border-radius: $local-spacing-s;

  cursor: pointer;
}

.leftWrapper {
  text-align: center;
  width: 206px;

  padding: $local-spacing-m;
  height: 100%;

  &_full {
    width: 100%;
  }
}

.airInfoWrapper {
  flex: 1;
  padding: $local-spacing-m;
  height: 100%;
  border-left: 1px solid #e4e7e8;
}

.space {
  width: 100%;
}

.indent {
  padding: $local-spacing-s;
}